@import './color.scss';

.movie-card{
    width: 200px;
    height: 350px;
    margin: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover{
        transform: scale(1.1);
        .title{
            color: $main-color;
        }
    }
    img {
        border-radius: 10px;
    }
    .title{
        margin: 0;
        text-align: start;
        color: $primary-color;
    }
    
    @media only screen and (max-width: 900px) {
        width: 160px;
        height: 260px;
        img {
            width: 160px !important;
            height: 240px;
        }
    }
    @media only screen and (max-width: 600px) {
        width: 200px;
        height: 320px;
        img {
            width: 100% !important;
            height: 100%;
        }
    }
}
.img-container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
.description-container{
    .description{
        text-align: start;
        color: $primary-color;
    }
}
.divider{
height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 10px 0;
}
.rating-container{
    margin-top: 10px;
    display: flex;
    .vote-average{
        color: $main-color;
        font-weight: 600;
        font-size: 1.5rem;
        border: 1px solid $main-color;
        border-radius: 10px;
        padding: 8px;
    }
    .rate-review-container{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p{
            margin: 0;
            color: $primary-color;
            font-weight: 600;
        }
    }
    .release-day{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: .8rem;
        font-weight: 600;
        color: $primary-color;
    }
    @media only screen and (max-width: 450px) {
        flex-wrap: wrap;
    }
}